DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=
USER_TABLE=
FEEDBACK_TABLE=

FEEDBACK_BASE_URL=
UNSUBSCRIBE_BASE_URL=

OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=
OPENROUTER_MODEL=

PUBMED_EMAIL= 
FROM_EMAIL=

LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=
LANGSMITH_PROJECT=
